@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .fade-out-left {
        animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .swing-in-top {
        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    @keyframes fade-out-left {
        0% {

            transform: translateX(0);
            opacity: 1;
        }

        100% {

            transform: translateX(-100px);
            opacity: 0;
        }
    }

    @keyframes swing-in-top-fwd {
        0% {

            transform: rotateX(-100deg);

            transform-origin: top;
            opacity: 0;
        }

        100% {

            transform: rotateX(0deg);

            transform-origin: top;
            opacity: 1;
        }
    }
}

.active {
    @apply text-red-700 underline underline-offset-4
}

::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}